@CHARSET "ISO-8859-1";

footer{
  text-align:center;
  border-radius:20px;
  background-color: rgba(128, 128, 128, 0.62);
  color:white;
}

footer ul
{
  list-style-type:none;
}

footer ul.mainList
{
  margin:4%;
}

footer ul.mainList li.mainEl
{
  text-align:center;
  display:inline-table;
  margin:3% 6% 3% 6%;
}

li.secondEl
{
  text-align: center;
  margin-bottom:3px;
}

a.util
{
  text-align:center;
  text-decoration:none;
  color:white;
}

.footerIco
{
  max-width:50px;
  max-height:50px;
  opacity:0.6;
  -webkit-transition:opacity 1s;
  -moz-transition:opacity 1s;
  -o-transition:opacity 1s;
}
.footerIco:hover{
  opacity:1;	
}
a.util:hover{
 background-color:#FFFFFF;
  color:#ffa500;
  transition:all 0.50s;
  border-radius:20px;
}
h5{
  font-size: 15px;
  text-align: center;
  position: relative;
  top: -5px;
}