/*NavBar*/
body{
	font-family:arial;
	background-color:#c6ebff;
	min-width:480px;
}
nav
{
 background-color:#ffa500;
 border-radius:20px;
}
nav ul
{
 list-style-type:none;
}
nav ul li
{
  display:inline-block;
  margin:3%;
}

nav ul li a
{
  text-decoration:none;
  color:white;
  font-size:25px;
  padding:10%;
}

nav ul li  h1
{
  display:inline;
  color:white;
  margin-right:20px;
  font-size:35px;
}

nav ul li a:hover
{
  background-color:#FFFFFF;
  color:#ffa500;
  transition:all 0.50s;
  border-radius:20px;
}

div.main{
	background-color:#ffffff;
	border-radius:20px;
	padding:3%;
	margin:3% 15% 5% 15%;
}
/*Footer*/

.wrapper
{
 border-radius:20px;
 background-color:#FFA500;
 max-width:100%;
 color:white;
 }
 footer ul 
 {
	 list-style-type:none; 
 }
 footer ul li 
 {
	text-align:center;	
  }

.footerIco
{
  max-width:50px;
  max-height:50px;
  opacity:0.6;
  -webkit-transition:opacity 1s;
  -moz-transition:opacity 1s;
  -o-transition:opacity 1s;
}
.footerIco:hover{
  opacity:1;	
}
.leftSide
{
 text-align:left;	
}
.blockToInline
{
 display: inline;
}
.aLineOfSpacingBoth
{
 margin-top:30px;

}
.aLineOfSpacingBot
{
margin-bottom:12px;
}
/*Adattamento a mobile*/

@media screen and (max-width: 550px)
{

nav ul li
{
  text-align:center;
  display: block;
  padding:1%;
  margin: 1%;
}
nav ul li a
{
  text-decoration:none;
  color:white;
  font-size:25px;
  padding:2%;
}
nav ul li h1
{
 text-align:center;
}
#toggle
{
	text-align: left;
} 
}
