/*NavBar*/
body{
	font-family:arial;
	background-color:#c6ebff;
	min-width:480px;
}
nav
{
 background-color:#ffa500;
 border-radius:20px;
}
nav ul
{
 list-style-type:none;
}
nav ul li
{
  display:inline-block;
  margin:3%;
}

nav ul li a
{
  text-decoration:none;
  color:white;
  font-size:25px;
  padding:10%;
}

nav ul li div h1
{
  display:inline;
  color:white;
  margin-right:20px;
  font-size:35px;
}

nav ul li a:hover
{
  background-color:#FFFFFF;
  color:#ffa500;
  transition:all 0.50s;
  border-radius:20px;
}

div.main{
	background-color:#ffffff;
	border-radius:20px;
	padding:3%;
	margin:3% 15% 5% 15%;
}
/*Footer*/

.wrapper
{
 text-align:center;
 border-radius:20px;
 background-color:#FFA500;
 max-width:100%;
 color:white;
}
 
footer ul
{
 list-style-type:none;
 display:inline;
}

footer ul.first li.second
{
 display:inline-table;
 margin:3% 7% 3% 7%;
}

footer ul li.third
{
 display:block;
 margin:5% 0% 5% 0%;
}

footer ul li.third a.util
{
  text-decoration:none;
  padding:3px;
}

footer ul li.third a.util:hover
{
  background-color:#FFFFFF;
  color:#ffa500;
  transition:all 0.50s;
  border-radius:20px;
}

.footerIco
{
  max-width:50px;
  max-height:50px;
  opacity:0.6;
  -webkit-transition:opacity 1s;
  -moz-transition:opacity 1s;
  -o-transition:opacity 1s;
}

.footerIco:hover
{
  opacity:1;	
}